# APPLICATION
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/facturador_db?schema=public"

# JWT
JWT_SECRET=tu-secret-super-seguro-cambiar-en-produccion
JWT_EXPIRATION=7d

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:3001