# APPLICATION
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/facturador_db?schema=public"

# JWT
JWT_SECRET=tu-secret-super-seguro-cambiar-en-produccion
JWT_EXPIRATION=7d

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:3001

# Certificado Digital
CERTIFICATE_PASSWORD=tu_password_aqui

# SRI Web Services
SRI_RECEPTION_URL_TEST=https://celograspruebas.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline?wsdl
SRI_AUTHORIZATION_URL_TEST=https://celograspruebas.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline?wsdl

SRI_RECEPTION_URL_PROD=https://celo.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline?wsdl
SRI_AUTHORIZATION_URL_PROD=https://celo.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline?wsdl
